$FONT_PRIMARY: Lunchtype22, sans-serif;
$FONT_ITALIC: Lunchtype23, sans-serif;
$FONT_HIGHLIGHT: Lunchtype24, sans-serif;
$BOT_LIGHT: #58AEEC;
$BOT_DARK: #226798;
$BAD_RED: #ac2222;

$OVERLAY_BORDER_WIDTH: 10px;
