@font-face {
  font-family: 'Lunchtype22';
  src: url('fonts/lunchtype22-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lunchtype23';
  src: url('fonts/lunchtype23-regular-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lunchtype24';
  src: url('fonts/lunchtype24-regular-expanded-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
