.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.innerContainer {
  width: 800px;
  max-width: 95vw;
  height: 400px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;

  &.wide {
    width: 100%;
  }
  &.high {
    height: 100%;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 130%;
}

.title {
  font-size: 2em;
}
.largeTitle {
  font-size: 3em;
}

.buttons {
  margin-top: auto;
  padding-top: 2em;
  display: flex;
  flex-direction: row-reverse;
}

.fadeIn {
  animation: fade-in 2s forwards;
  animation-delay: 5s;
  opacity: 0;
}
.slow {
  animation-duration: 5s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
