@import '../styles/constants';

$CONTENT_WIDTH: 1000px;

.wrapper {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  //align-items: center;
  overflow-y: auto;

  .flexboxHack & {
    position: relative;
  }
}

.innerContainer {
  width: $CONTENT_WIDTH;
  max-width: 95vw;
  height: 400px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;

  &.wide {
    width: 100%;
    max-width: 100%;
  }
  &.high {
    height: 100%;
    max-height: 100%;
  }
  .flexboxHack & {
    height: unset;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: unset;
    max-width: unset;
  }
}

.flexboxHack [data-type="map"] {
  height: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: unset;
  max-width: unset;
}

.checkboxWithLabel {
  display: flex;
  align-items: baseline;
  margin-top: 0.3em;

  > div:first-child {
    margin-right: 0.5em;
  }
}

$GUTTER: 2rem;
@media (max-width: $CONTENT_WIDTH) {
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .column {
    width: $CONTENT_WIDTH / 2;
  }
}
@media (min-width: $CONTENT_WIDTH) {
  .row {
    display: flex;
    justify-content: space-between;
  }
  .column {
    width: calc(50% - #{$GUTTER});
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 130%;

  .high & {
    justify-content: flex-start;
  }

  h3:not(:first-child) {
    margin-top: 3rem;
  }
}

.marginBottom {
  margin-bottom: 2em;
}

.title {
  font-size: 2em;
}
.largeTitle {
  font-size: 3em;
}

.floating {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  background-color: white;
  padding: 0.5em;

  .resetButton {
    margin-top: 1em;
    text-align: right;
  }
}

.navigation {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .buttonContainer {
    width: 10em;
  }

  .header {
    width: 100%;
    max-width: $CONTENT_WIDTH;

    h2 {
      margin: 0.2em 0 0.3em;
    }
  }

  .buttonIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > span {
      font-size: 3em;
      padding-bottom: 1rem;
    }
  }

  .validationError {
    font-family: $FONT_PRIMARY;
    text-transform: initial;
    color: darkred;
    font-size: 80%;
    margin-left: -10em;
    text-align: right;
    margin-top: 1em;
    height: 0;
  }
}

.fadeIn {
  animation: fade-in 2s forwards;
  animation-delay: 5s;
  opacity: 0;
}
.slow {
  animation-duration: 5s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.searchParameter {
  margin-bottom: 0.8em;
}
.comment, .disclaimer {
  font-size: 70%;
  margin-top: 0.5em;
  line-height: 1;
}
.disclaimer {
  text-align: center;
  color: gray;
  margin-top: 1.5em;
}

.replacement {
  background-color: $BOT_LIGHT;
  padding: 0.2em 0.1em 0;
}

.applicationTextPreview {
  padding: 0.5em;
  background-color: $BOT_LIGHT;
  border: 2px solid $BOT_LIGHT;
}
.applicationTextReview {
  font-family: $FONT_ITALIC;
}

.pending {
  margin-top: 1.5rem;
  border: 2px black solid;
  padding: 1rem;
  opacity: 0.6;
  background-color: #ddd;
  pointer-events: none;

  input {
    background: none;
  }

  &::before {
    content: "Diese Funktion kommt bald in einem Update";
    font-size: 70%;
  }
}

.announcement {
  border: 2px solid black;
  padding: 1em;
  width: calc(100% + 2em);
  margin-left: -1em;
  box-sizing: border-box;
}

// house
$HOUSE_LINE: 2px solid black;
.house, .roof {
  max-width: 11em;
  box-sizing: border-box;
}
.house {
  border: $HOUSE_LINE;
  border-bottom: none;

  .floor {
    border-bottom: $HOUSE_LINE;
    padding: 0.4em 1em 0.2em;
    cursor: pointer;
    color: white;

    &.selected {
      background-color: darkgreen;
    }
    &.notSelected {
      background-color: $BAD_RED;
    }

    &:hover {
      background-color: rgba(0, 100, 0, 0.5);

      &.selected {
        background-color: rgba(100, 0, 0, 0.5);
      }
    }
  }
}

$ROOF_HEIGHT: 2em;
.roof {
  height: $ROOF_HEIGHT;
  display: flex;
  align-items: flex-start;
}
.roofLeft, .roofRight {
  border-top: $HOUSE_LINE;
  transform-origin: 0 0;
  width: $ROOF_HEIGHT;
  height: $ROOF_HEIGHT;
}
.roofLeft {
  transform: rotate(-45deg) scaleX(1.41);
  position: relative;
  top: $ROOF_HEIGHT;
}
.roofRight {
  transform: rotate(45deg) scaleX(1.41);
}

.roofMiddle {
  border-top: $HOUSE_LINE;
  flex-grow: 1;
  height: $ROOF_HEIGHT;
}
