.container {
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  overflow: hidden;

  &.collapsed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: fit-content;
  }
}
.menu {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1em;
  padding-right: 0.2em;

  .collapsed & {
    padding-left: 0.2em;
  }
}

.menuItem {
  margin-right: 2em;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  button {
    font-size: 80%;
    color: inherit;
  }

  .collapsed &:not(#visibilityToggle) {
    display: none;
  }
}
#visibilityToggle {
  font-size: 180%;
  margin-right: 0;
}

.entryName {
  margin-right: 0.5em;
}
