@import '../styles/constants';

.container {
  background-color: #226798;
  padding: 2vh 2vh $OVERLAY_BORDER_WIDTH;
  height: 100vh;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;

  button, a {
    color: inherit;
  }
}

h3:first-child {
  margin-top: 0;
}

.entry {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.symbol {
  font-size: 200%;
  margin-right: 0.5rem;
}
.good {
  color: forestgreen;
}

.link {
  color: inherit;
}

#announcement {
  margin-top: auto;
  margin-bottom: 5rem;
}

.comment {
  font-size: 70%;
  margin-top: 0.5em;
  line-height: 1;
}

.softwareInformation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
