@import '../styles/constants';

.container {
  background-color: #226798;
  padding: 2vh 1vh $OVERLAY_BORDER_WIDTH 2vh;
  height: 100vh;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;

  button,
  a {
    color: inherit;
  }
}

h3:first-child {
  margin-top: 0;
}

.adjustFiltersButton {
  margin-top: 1rem;
}

.recentApplications {
  flex-shrink: 1;
  overflow-y: scroll;
  padding-right: 0.5rem;
  margin-bottom: 2rem;
}

.entry {
  margin-bottom: 0.5em;
  padding: 0.5em 0.4em 0.2em;
  background-color: $BOT_LIGHT;
  color: black;
}
.failure {
  background-color: #ff4c53;
}

.unknownStreet {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.symbol {
  font-size: 150%;
}
.good {
  color: forestgreen;
}
.clickable {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.link {
  color: inherit;
}

.entryHeader {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 70%;
  margin-bottom: 0.1rem;
}
.entryBody {
  display: flex;
  align-items: center;
}
.entryMainText {
  flex-grow: 1;
}

#announcement {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.resetButton {
  margin-top: auto;
}

.comment {
  font-size: 70%;
  margin-top: 0.5em;
  line-height: 1;
}

.softwareInformation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
