/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import 'constants/styles';

body {
  margin: 0;
  position: relative;
  color: black;
  height: 100vh;
  background-color: transparent;
  font-family: $FONT_PRIMARY;
  overflow-y: hidden;
}

#root {
  height: 100%;
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

h3 {
  margin-bottom: 0.3em;
}

small {
  font-size: 70%;
}

li {
  list-style: none;
}

a {
  color: $BOT_DARK;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  opacity: 0.7;
}

i {
  font-family: $FONT_ITALIC;
}

em {
  font-style: normal;
  text-decoration: underline;
}

p {
  margin: 0 0 0.5em;
}

button {
  font-family: $FONT_HIGHLIGHT;
  //background: #eee;
  background: none;
  border: none;
  color: #333;
  padding: 0;
  //padding: 0.4em 0.8em 0.4em;
  //border-radius: 0.1em;
  font-size: 20px;
  text-transform: uppercase;
  //box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &.primary {
    color: $BOT_DARK;
  }

  &:disabled {
    color: lightgray;
  }
}

input[type="text"], input[type="number"] {
  border: none;
  border-bottom: 2px solid black;
  font-size: inherit;
  font-family: inherit;
  padding-left: 0.5em;
  padding-top: 0.3em;
}
input[type="number"] {
  max-width: 3em;
  text-align: center;
}
.textinput-wrapper {
  display: inline-flex;
  flex-direction: column-reverse;
}
.textinput-placeholder {
  color: gray;
  font-size: 70%;
  transition: 1s opacity;
}
.textinput__empty .textinput-placeholder {
  opacity: 0;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid black;
  box-sizing: border-box;
  background: none;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  position: relative;
  top: 0.2em;

  &:checked::after, &:checked::before {
    content: '';
    border-bottom: 2px solid black;
    width: 1.5em;
    display: block;
    transform-origin: 50% 50%;
    position: relative;
    left: -2px;
  }
  &:checked::after {
    transform: rotate(45deg) scaleX(0.8);
    top: 0.35em;
  }
  &:checked::before {
    transform: rotate(-45deg) scaleX(0.8);
    //left: 0.1em;
    top: 0.5em;
  }
}

.inline-enum-select {
  display: inline-block;
  margin-right: 1em;
}
.is-weird {
  color: gray;
  position: relative;
  top: 0.1em;
  left: 0.2em;
  font-size: 50%;
}

// icons
@import '~material-design-icons/iconfont/material-icons.css';
.material-icons {
  font-size: inherit;
  max-width: 1.4em; // todo: why?!

  &:not(.standalone-icon) {
    position: relative;
    top: 0.15em;
  }
}

// map
@import '~leaflet/dist/leaflet.css';
.district-label {
  background: none;
  border: none;
  pointer-events: none !important;
  font-family: $FONT_HIGHLIGHT;
  text-transform: uppercase;
  color: $BOT_DARK;
  transition: font-size 0.1s;
  line-height: 0.95;

  // stylelint-disable-next-line at-rule-no-unknown
  @for $zoomLevel from 10 through 16 {
    .zoom-#{$zoomLevel} & {
      font-size: #{($zoomLevel - 10) * 8 + 10}px;
      opacity: #{1 - ($zoomLevel - 10) * 0.1};
    }
  }
}
.map-tooltip {
  border: none;
  box-shadow: none;
  border-radius: 0;
  min-width: 15em;

  &::before {
    display: none;
  }
}
.map-tooltip-name {
  font-size: 2em;
  line-height: 100%;
}
