/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import 'constants/styles';

body {
  margin: 0;
  position: relative;
  color: black;
  height: 100vh;
  background-color: transparent;
  font-family: $FONT_PRIMARY;
  overflow-y: hidden;
}

#root {
  height: 100%;
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  z-index: 10000000;
}

small {
  font-size: 70%;
}

li {
  list-style: none;
}

a {
  color: $BOT_DARK;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  opacity: 0.7;
}

button {
  font-family: $FONT_HIGHLIGHT;
  //background: #eee;
  background: none;
  border: none;
  color: #333;
  padding: 0;
  //padding: 0.4em 0.8em 0.4em;
  //border-radius: 0.1em;
  font-size: 20px;
  text-transform: uppercase;
  //box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &.primary {
    color: $BOT_DARK;
  }

  &:disabled {
    color: lightgray;
  }
}

// icons
@import '~material-design-icons/iconfont/material-icons.css';
.material-icons {
  font-size: inherit;
  max-width: 1.4em; // todo: why?!
  position: relative;
  top: 0.1em;
}

// map
@import '~leaflet/dist/leaflet.css';
.district-label {
  background: none;
  border: none;
  pointer-events: none !important;
  font-family: $FONT_HIGHLIGHT;
  text-transform: uppercase;
  color: $BOT_DARK;
  transition: font-size 0.1s;
  line-height: 0.95;

  // stylelint-disable-next-line at-rule-no-unknown
  @for $zoomLevel from 10 through 16 {
    .zoom-#{$zoomLevel} & {
      font-size: #{($zoomLevel - 10) * 8 + 10}px;
      opacity: #{1 - ($zoomLevel - 10) * 0.1};
    }
  }
}
.map-tooltip {
  border: none;
  box-shadow: none;
  border-radius: 0;
  min-width: 15em;

  &::before {
    display: none;
  }
}
.map-tooltip-name {
  font-size: 2em;
  line-height: 100%;
}
.leaflet-control-attribution {
  position: fixed;
  bottom: 26px;
  right: 0;
}
