.trigger {
  color: gray;
  font-size: 70%;
  cursor: pointer;
  text-align: right;
}
.exportArea {
  background-color: #ddd;
  color: gray;
  padding: 1em;
  font-size: 70%;
  margin-top: 0.5rem;
  max-height: 30vh;
}
