on: push
jobs:
  build:
    name: Build Electron app (staging)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    env:
      CONFIG_FILE: config-staging.json
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up node with volta
        uses: volta-cli/action@v4
      - name: Install dependencies
        run: npm ci
      - name: Decrypt keys
        run: ./internals/deploy/decrypt-keys.sh
        shell: bash
        env:
          KEYS_DECRYPT_PASSPHRASE: ${{ secrets.KEYS_DECRYPT_PASSPHRASE }}
      - name: Build/release Electron app
        uses: coparse-inc/action-electron-builder@v1.0.0
        with:
          github_token: ${{ secrets.github_token }}
          args: '-p never'
      - name: Store artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Wohnungsbot Installer ${{ runner.os }} ${{ github.run_number }} (${{ github.ref_name }})
          path: release/Wohnungsbot*
          if-no-files-found: error
